@media (max-width: 960px) {
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Gerais */
body {
  background: #417841;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  margin: 0;
  font-family: Roboto;
  font-weight: 800;
  font-size: 3em;
  color: #787878;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p, span, button, label, a {
  font-family: Roboto;
}

p {
  font-size: 2rem;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #787878;
}

header, section {
  background: #F7F7F7;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main section a {
  all: unset;
}

/* Header */

header {
  width: 90vw;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .home {
  width: 180px;
  height: 100%;

  background: #ABABAB;
  border-radius: 20px 0px 0px 20px;

  padding: 10px;

  display: flex;
  align-items: center;
}

header .home a {
  text-align: center;
  font-weight: 800;
  font-size: 2em;

  color: #FFFFFF;
}

header .title-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50px;

  padding-top: 10px;
  padding-bottom: 10px;
}

header .title-div h1 { 
  font-weight: 800; 
  margin: 10px; 
}

header .title-div h2 { 
  font-size: 2em;
  font-weight: 300; 
  margin: 10px; 
}

/* Main */

main {
  margin: 30px;
  display: flex;
  width: 90vw;
  justify-content: space-between;
}

/* Main - Section */

main section {
  width: 90vw;
  height: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section ul li {
  list-style: none;
}

main section ul li a {
  cursor: pointer;
}

/* Footer */

footer {
  height: 30px;
  width: 100%;
  position: fixed;
  background: #77DD77;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer span {
  margin-left: 10px;
  margin-right: 10px;
}